.pageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 45px;
}

.box {
    background-color: white;
    color: #333;
    padding: 25px 30px;
    border-radius: 20px;
    position: relative;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .boxID {
        color: #707070;
    }

    .boxInfoRow:not(:first-child) {
        margin-top: 10px;
    }

    .boxLabel {
        color: #707070;
        font-size: 14px;
        margin-bottom: 4px;
        display: block;
    }

    .boxInfo {
        font-size: 16px;
    }
    .boxBigInfo {
        font-size: 18px;
        font-weight: bold;
    }

    .boxIconButton {
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        border-radius: 0 20px 20px 0;

        transition: background-color ease-in-out 0.2s, width ease-in-out 0.2s;

        &:hover {
            width: 80px;
            background-color: rgba(53, 137, 180, 0.2);
        }

        .boxIcon {
            color: #3589b4;
        }
    }
}

.backButton {
    align-self: center;
    margin-bottom: 25px;
    a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
        text-decoration: none;
        :hover {
            text-decoration: underline;
        }
    }
}

.button {
    background-color: #195877;
    border: none;
    padding: 15px 25px;
    text-transform: capitalize;
    color: white;
    border-radius: 10px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: #437791;
    }
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

.paginationSection {
    width: 800px;
    align-self: center;
    display: flex;

    margin-top: 20px;

    .loadMoreButton {
        background-color: #195877;
        border: none;
        flex: 1;
        height: 60px;
        text-transform: capitalize;
        color: white;
        border-radius: 15px;
        font-family: inherit;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #437791;
        }
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }
}
.loading {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: #195877;
    border: none;
    width: 800px;
    line-height: 60px;
    text-transform: capitalize;
    color: white;
    border-radius: 15px;
    font-family: inherit;
    font-size: 16px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 0;
    padding-left: 0;

    li {
        list-style: none;
        &.pageActive {
            a {
                background-color: white;
                color: #195877;
            }
        }
        &.disabled {
            a {
                background-color: #4485a5;
                color: #336c88;
                cursor: default;
            }
        }
        &:not(.pageActive):not(.disabled) {
            a:hover {
                background-color: #437791;
            }
        }
        a {
            padding: 8px 14px;
            border-radius: 6px;
            margin: 0 5px;
            background-color: #195877;
            cursor: pointer;

            &:active,
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}

.loginSection {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    .loginTitle {
        font-weight: normal;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.logoutButton {
    margin-left: 20px;
    padding: 10px 18px;
    font-size: 14px;
}

.pageNotFound {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        margin-right: 15px;
    }
    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
